[update_manager thinker-x400]
type: git_repo
channel: dev
path: {{REPO_ROOT}}
origin: https://github.com/jpapiez/thinker-x400.git
primary_branch: main
managed_services:
  klipper
  moonraker
  KlipperScreen

[eryone_file_manager]
upload_tmp_root: {{PRINTER_HOME}}/printer_data/gcodes

[eryone_metadata]
hint_scan_bytes: 1048576
