[include mainsail.cfg]
[include v1_1.cfg]
[include canuid.cfg]
[include {{EECAN_INCLUDE}}]
[include runout.cfg]
[include KAMP_Settings.cfg]
[include timelapse.cfg]
#[include plr.cfg]
[include rc522.cfg]
[include x400.cfg]
